<style>
  .img{
      width: 100%;
      padding: 15px;
      border: 2px solid black;
      background: #ffccff;
      height:325px;
      width:325px;
     }
    .card{
      background-color:#ff99ff;
      padding-bottom:80px;
      padding-top:30px;
      padding-left:25px;
      border: 3px solid black;

      margin-top:30px;
    }
    u{
       text-decoration: none;
       border-bottom: 1px solid black;
     }​
</style>

<div class="row">
  <div class="col-sm-2"></div>

  <div class="col-sm-8 card">
    <div class="col-sm-4" style="margin-bottom:40px; margin-top:10px;">
      <img class="img-responsive img" src="<%= @recipe.picture %>" alt="Profile Picture">
    </div>
    <div class="col-sm-8">
      <p style="font-size:30px;">
        <strong>Name:</strong>
        <%= @recipe.name %>
      </p>
      <hr style="border-color:grey;">
      <p>
        <strong>Total Calories:</strong>  <%= @recipe.calories %>
        &nbsp
        <strong>Serving Size:</strong>  <%= @recipe.servingSize %>
      </p>
      <hr style="border-color:grey;">

      <p>
        <strong>Time Prep:</strong>  <%= @recipe.timePrep %>
        &nbsp
        <strong>Time Cook:</strong>  <%= @recipe.timeCook %>
      </p>
      <hr style="border-color:grey;">
      <p>
        <strong>Description:</strong>  <u><%= @recipe.description %></u>
      </p>

      <p>
        <strong>Directions:</strong>  <u><%= @recipe.directions %></u>
      </p>

      <p>
        <strong>Ingredients:</strong>  <u><%= @recipe.ingredients %></u>
      </p>

      <% if current_user.id == @recipe.user_id %>  <!-- only the creator can edit -->
        <button type="button" class="btn"><%= link_to 'Edit Recipe', edit_recipe_path(@recipe), :class => "btn" %></button>
        <button type="button" class="btn"><%= link_to 'Delete Recipe', recipe_path(@recipe),
                      method: :delete,
                      data: { confirm: 'Are you sure?' } , :class => "btn"%></button>
      <% end %>
    </div>
  </div>
</div>
<br>

<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <h2 align="center" style="color:white; font-size:35px;"><u>Comments:</u></h2>
    <div class="card">
      <% if @recipe.comments.exists? %>
        <%= render @recipe.comments %>
      <% else %>
         <h4> No Comments for this Recipe </h4>
      <% end %>
      <br>
      <%= render 'comments/form' %>
    </div>
  </div>
</div>

<!-- <p><%= link_to 'Back', user_recipes_path(@recipe.user_id) %></p> -->
