<%= form_tag(users_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :search, params[:search], placeholder: "Search User" %>
<%= submit_tag "Search" %>
<% end %>

<% if @users.present? %>
  <%= render @users %>
<% else %>
  <p>No users found</p>
<% end %>
<!-- <body>

<h1>List of all the users</h1>
<p><%= link_to 'Create User', new_user_path %></p>
  <% @users.each do |user| %>
    <ul>
      <li><%= user.firstName %> <%= user.lastName %></li>
      <p><%= link_to 'Show', user_path(user) %></p>
    </ul>

  <% end %>

<p><%= link_to 'Back', root_path %></p>

</body> -->
