<!-- This template is for the user profile page -->
  <style>
    .img{
    		width: 100%;
				padding: 15px;
				border: 6px solid white;
				border-radius: 12px;
				background: white;
        height:325px;
        width:325px;
		   }

       .card{
         background-color:white;
         padding-bottom:80px;
         padding-top:30px;
         padding-left:25px;
       }
    </style>

<div class="row" style="margin-left:60px; margin-top:60px;">
  <div class="col-sm-10 card">
  <div class="col-sm-4" style="margin-bottom:40px; margin-top:10px;">
    <img class="img-responsive" src="<%= @user.profilePic %>" alt="Profile Picture">
  </div>
  <div class="col-sm-6">
    <p style="font-size:30px;">
      <strong>Name:</strong>
      <%= @user.firstName %> <%= @user.lastName %>
    </p>
    <hr style="border-color:grey;">
    <p style="font-size:20px;">
      <strong>Prep Time:</strong> <%= @user.years_exp %> years
      &nbsp   <!-- Used to make a tab space -->
      <strong>Specialty:</strong> <%= @user.specialty %>
    </p>
    <hr style="border-color:grey;">
    <p style="font-size:20px;">
      <strong>Ingredients To Live By:</strong>
      <%= @user.favQuote %>
    </p>
    <p style="font-size:20px;">
      <strong>Description:</strong>
      <%= @user.bio %>
    </p>
   </div>
  </div>
  <div class="col-sm-2">  <!--follow/following panel -->
    <p align=center>Follow Bottom</p>
  </div>
</div>

<!-- <p>
  <strong>Name:</strong>
  <%= @user.firstName %> <%= @user.lastName %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @user.bio %>
</p>

<p>
  <strong>Profile Picture:</strong>
  <%= @user.profilePic %>
</p>

<p>
  <strong>Favorite Quote:</strong>
  <%= @user.favQuote %>
</p>
<p>
  <strong>Specialty:</strong>
  <%= @user.specialty %>
</p>
<p>
  <strong>Years Experience:</strong>
  <%= @user.years_exp %>
</p>

<p><%= link_to 'Edit', edit_user_path(@user) %></p>
<p><%= link_to 'Destroy', user_path(@user),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></p>
<p><%= link_to 'Back', users_path %></p>

<h3><%= link_to 'Your Recipes', user_recipes_path(@user) %></h3> -->
