<!-- This template is for the user profile page -->
  <style>
    .img{
    		width: 100%;
				padding: 15px;
				border: 2px solid black;
				background: #ffccff;
        height:325px;
        width:325px;
		   }

       .card{
         background-color:#ff99ff;
         padding-bottom:80px;
         padding-top:30px;
         padding-left:25px;
         border: 3px solid black;
       }

       u{
          text-decoration: none;
          border-bottom: 1px solid black;
        }​

    </style>

<div class="row" style="margin-left:60px; margin-top:60px;">
  <div class="col-sm-9 card">
  <div class="col-sm-4" style="margin-bottom:40px; margin-top:10px;">
    <img class="img-responsive img" src="<%= @user.profilePic %>" alt="Profile Picture">
  </div>
  <div class="col-sm-8">
    <p style="font-size:30px;">
      <strong>Name:</strong>
      <%= @user.firstName %> <%= @user.lastName %>
    </p>
    <hr style="border-color:grey;">
    <p style="font-size:20px;">
      <strong>Experience:</strong> <%= @user.years_exp %> years
      &nbsp   <!-- Used to make a tab space -->
      <strong>Specialty:</strong> <%= @user.specialty %>
    </p>
    <hr style="border-color:grey;">
    <p style="font-size:20px;">
      <strong>Favorite Quote:</strong>
      <u><%= @user.favQuote %></u>
    </p>
    <br>
    <p style="font-size:20px;">
      <strong>Bio:</strong>
      <u><%= @user.bio %></u>
    </p>

   </div>
  </div>
  <div class="col-sm-2" style="margin-left:40px;">  <!--follow/following panel -->
    <% if current_user.id != @user.id %>
    <button type="button" class="btn" align=center><a href= "<%= user_recipes_path(@user.id)%>"> <%= @user.firstName %>'s Recipes </a></button>
    <% end %>
    <div><br></div>
    <% if current_user.id == @user.id %>
    <button type="button" class="btn" align=center><%= link_to 'Edit Profile', edit_user_path(@user), :class => "btn" %></button>
    <% end %>
  </div>
</div>


<!-- <p><%= link_to 'Destroy', user_path(@user),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></p>
<p><%= link_to 'Back', users_path %></p>

<h3><%= link_to 'Your Recipes', user_recipes_path(@user) %></h3> -->
